<div class="row">
    <nav>
        <mat-toolbar class="navbar">
            <span class="title">Quiz? Beast</span>
            <span class="example-spacer"></span>
            <ul class="menu-items">
                <li><a routerLink="/Home">Home</a></li>
                <li><a routerLink="/Home">About</a></li>
                <li><a routerLink="/Home">Contact Us</a></li>

            </ul>
        </mat-toolbar>
    </nav>
</div>

<div>
    <router-outlet></router-outlet>
</div>