

    <div class="row">
    <nav>
        <mat-toolbar class="navbar">
            <span class="title">Quiz? Beast</span>
            <span class="example-spacer"></span>
            <ul class="menu-items">
              <li><a routerLink="/Home">Home</a></li>
              <li><a routerLink="/Home">About</a></li>
              <li><a routerLink="">Contact Us</a></li>
             
            </ul>
          </mat-toolbar>
        </nav>
</div>

    

<div class="contentPage">
    <mat-card class="description">
        <mat-card-content><br><br>
            Welcome to the world of QUIZ? BEAST!!! <br>
            Explore a knowledge with the diverse range of Quizzes. <br>
            Test your skill,learn something new,and challege your friends. <br>
            Start the quiz journey now! <br>
        </mat-card-content>
        <button type="button" mat-raised-button class="button"
       routerLink="/Login">Get Start</button>
      </mat-card>
      <mat-card class="topics">
        <mat-card-content>
           <p style="font-size: 2rem;text-align: center;"> TOPICS PROVIDED BY QUIZ BEAST </p>
            <mat-grid-list cols="4">
                <mat-grid-tile>
                    <mat-card class="topiclogo">
                        <mat-card-header>
                            <mat-card-title>JAVA</mat-card-title>
                          </mat-card-header>
                          <img mat-card-image src="https://th.bing.com/th/id/R.31ccf6b00ca06840c2e131bf2bc00a40?rik=VQlxmxQmDTQnCQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fjava-png-java-icon-1600.png&ehk=Ken84AvpJ83RtHDABENcApKB7bycz9ZpTDmKurCwCPU%3d&risl=&pid=ImgRaw&r=0" alt="Photo of a Shiba Inu" style="width: 60%;">
                    </mat-card>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-card class="topiclogo">
                            <mat-card-header>
                                <mat-card-title>HTML</mat-card-title>
                              </mat-card-header>
                              <img mat-card-image src="https://t1.daumcdn.net/cfile/tistory/137D5E3950B586D520" alt="Photo of a Shiba Inu" style="width: 60%;">
                        </mat-card>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-card class="topiclogo">
                            <mat-card-header>
                                <mat-card-title>ANGULAR</mat-card-title>
                              </mat-card-header>
                              <img mat-card-image src="https://angular.io/assets/images/logos/angular/angular_solidBlack.png" alt="Photo of a Shiba Inu" style="width: 60%;">
                        </mat-card>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-card class="topiclogo">
                            <mat-card-header>
                                <mat-card-title>JS</mat-card-title>
                              </mat-card-header>
                              <img mat-card-image src="https://www.freepnglogos.com/uploads/javascript-png/js-outline-javascript-logo-download-clip-art-with-transparent-25.png" alt="Photo of a Shiba Inu" style="width: 60%;">
                        </mat-card>
                    </mat-grid-tile>

                    </mat-grid-list>

        </mat-card-content>
      </mat-card>
      <mat-card class="footer">
        <mat-card-content>

    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">QyuizBeast.com  is an initiative  to help the upcoming students with the quiz. Quiz Beast focuses on providing the most efficient quizzes to be simple. We will help students build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="#">C</a></li>
                <li><a href="#">UI Design</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Android</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a >About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
           <a href="#">Quiz Beast</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>
        </mat-card-content>
      </mat-card>
</div>


