table {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-card {

    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-toolbar {
    background-color: #8F00FF;
    color: aliceblue;
    justify-content: center;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin-top: 15%;
}

.addTestButton {
    margin-left: 92.8%;
}