.table {
    margin-top: 5%;
    margin-left: 25%;
    width: 20cm;
}

thead {
    color: #2f1793;
    background-color: aliceblue;
}

p {
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10%;
}