p {
    color: green;
    font-size: medium;
    text-shadow: 2px 2px 5px yellowgreen;
    text-align: center;
}

.submit-card {
    height: 7cm;
    width: 35%;

    margin-left: 30%;
    margin-top: 15%;
}

img {
    margin-left: 42%;
    width: 2cm;
    height: 2cm;
}

mat-card-action {
    margin-left: 30%;
}